<header>
    <img 
    src="assets/img/anderson.jpg" 
    alt="Anderson Nascimento - Foto de Perfil" 
    width="130px" 
    height="130px" 
    loading="eager"
    />

    <h1>Anderson Pedro do Nascimento </h1>
    <aside>
        <div class="container">
            <p> Front-End | Angular | React | JavaScript | Java   </p>
            <p>Natal, Rio Grande do Norte, Brasil</p>
            <p>Desenvolvedor em formação com background em Psicologia. Combino conhecimentos em TI com a compreensão do comportamento humano para criar soluções digitais intuitivas e eficazes.</p>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Download CV</a>
                    
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/andersonpedrodn-programador/" target="_blank" class="btn btn-secondary">LinkedIn</a>
                     
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do Whatsapp" width="22px" height="24px"/>
            

            <figcaption>
                <a href="https://api.whatsapp.com/send?phone=5584987348020&text=O1%c3%A1%20Anderson,%20preciso%20de%20um%20job!" target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>WhatsApp: (84) 9 8734-8020</p>
                </a>
            </figcaption>
            </figure>
            
            <figure>
                <img src="assets/icons/mail.svg" alt="Ícone para contato do e-mail" width="22px" height="24px"/>
            

            <figcaption>
                <a href="mailto:andersonpedrodn@gmail.com" target="_blank">
                    <strong>Envie um e-mail para::</strong>
                    <p>andersonpedrodn&#64;gmail.com</p>
                </a>
            </figcaption>
            </figure>
        </section>
    </aside>
</header>
